# Project exclude paths
/.gradle/
# ======================
# JAVA
# ======================
*.class
*.jar
*.war
*.ear
#=======================
# GRADLE
#=======================
build/
gradle
gradlew
.gradle/


